<div class="col-lg-6">
<div class="well bs-component">
	<%= form_for @platform, :html => { :class => 'form-horizontal' } do |f| %>
		<fieldset>
  <div class="form-group">
	  <%= f.label :PLATFORM_NO, :class => 'col-lg-4 control-label' %>
	  <div class="col-lg-8">
		  <%= f.number_field :PLATFORM_NO, :class => 'form-control' %>
	  </div>
  </div>

  <div class="form-group">
	  <%= f.label :PLATFORM_NAME, :class => 'col-lg-4 control-label' %>
	  <div class="col-lg-8">
		  <%= f.text_field :PLATFORM_NAME, :class => 'form-control' %>
	  </div>
  </div>

  <div class="form-group">
	  <%= f.label :PLATFORM_NAME_DISP, :class => 'col-lg-4 control-label' %>
	  <div class="col-lg-8">
		  <%= f.text_field :PLATFORM_NAME_DISP, :class => 'form-control' %>
	  </div>
  </div>

  <div class="form-group">
	  <%= f.label :PLATFORM_SIMPLENAME_DISP, :class => 'col-lg-4 control-label' %>
	  <div class="col-lg-8">
		  <%= f.text_field :PLATFORM_SIMPLENAME_DISP, :class => 'form-control' %>
	  </div>
  </div>

  <div class="form-group">
	  <%= f.label :PLATFORM_INTERNAL, :class => 'col-lg-4 control-label' %>
    <div class="col-lg-8">
	    <div class="checkbox">
		    <%= f.check_box :INTERNAL %> 
		    <%= f.label :INTERNAL,'パブリッククラウドとして接続する'%>
	    </div>
    </div>
  </div>

  <div class="form-group">
	  <%= f.label :PLATFORM_PROXY, :class => 'col-lg-4 control-label' %>
    <div class="col-lg-8">
	    <div class="checkbox">
		    <%= f.check_box :PROXY %> 
		    <%= f.label :PROXY,'Proxy接続経由でAPIを利用する'%>
	    </div>
    </div>
  </div>

  <div class="form-group">
	  <%= f.label :PLATFORM_TYPE, :class => 'col-lg-4 control-label' %>
	  <div class="col-lg-8">
		  <%= f.text_field :PLATFORM_TYPE, :class => 'form-control' %>
	  </div>
  </div>

  <div class="form-group">
	  <%= f.label :SELECTABLE, :class => 'col-lg-4 control-label' %>
    <div class="col-lg-8">
	    <div class="checkbox">
              <%= f.check_box :SELECTABLE %>
	      <%= f.label :SELECTABLE,'このPlatformを有効化する' %>
	    </div>
    </div>
  </div>

  <div class="form-actions">
	  <div class='col-lg-8 col-lg-offset-4'>
    		<%= f.submit nil, :class => 'btn btn-primary' %>
    		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			platforms_path, :class => 'btn' %>
  	</div>
  </div>
<% end %>
</fieldset>
</div>
</div>
