<%- model_class = Platform -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Platform no</th>
      <th>Platform名</th>
      <th>表示名</th>
      <th>短縮表示名</th>
      <th>接続タイプ</th>
      <th>Proxy接続</th>
      <th>Platfromタイプ</th>
      <th>有効/無効</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%= link_to platform.PLATFORM_NO, platform_path(platform) %></td>
        <td><%= platform.PLATFORM_NAME %></td>
        <td><%= platform.PLATFORM_NAME_DISP %></td>
        <td><%= platform.PLATFORM_SIMPLENAME_DISP %></td>
        <td><%= platform.INTERNAL %></td>
        <td><%= platform.PROXY %></td>
        <td><%= platform.PLATFORM_TYPE %></td>
        <td><%= platform.SELECTABLE %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_platform_path(platform), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      platform_path(platform),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_platform_path,
	    :class => 'btn btn-primary' %>

