<%= form_for @aws_platform, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :PLATFORM_NO, :class => 'control-label' %>
    <%= f.number_field :PLATFORM_NO, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :HOST, :class => 'control-label' %>
    <%= f.text_field :HOST, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :PORT, :class => 'control-label' %>
    <%= f.number_field :PORT, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :SECURE, :class => 'control-label' %>
    <%= f.check_box :SECURE, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :EUCA, :class => 'control-label' %>
    <%= f.check_box :EUCA, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :VPC, :class => 'control-label' %>
    <%= f.check_box :VPC, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :REGION, :class => 'control-label' %>
    <%= f.text_field :REGION, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :AVAILABILITY_ZONE, :class => 'control-label' %>
    <%= f.text_field :AVAILABILITY_ZONE, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :VPC_ID, :class => 'control-label' %>
    <%= f.text_field :VPC_ID, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                aws_platforms_path, :class => 'btn' %>
  </div>
<% end %>
