<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :USER_NO %><br>
    <%= f.number_field :USER_NO %>
  </div>
  <div class="field">
    <%= f.label :USERNAME %><br>
    <%= f.text_field :USERNAME %>
  </div>
  <div class="field">
    <%= f.label :PASSWORD %><br>
    <%= f.text_field :PASSWORD %>
  </div>
  <div class="field">
    <%= f.label :MASTER_USER %><br>
    <%= f.number_field :MASTER_USER %>
  </div>
  <div class="field">
    <%= f.label :POWER_USER %><br>
    <%= f.check_box :POWER_USER %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
